consul:
    hostname: es-consul
    container_name: es-consul
    image: qnib/alpn-consul
    ports:
     - 8500
    environment:
    - DC_NAME=dc1
    - CONSUL_BOOTSTRAP_EXPECT=1
    dns: 127.0.0.1
    hostname: consul
    privileged: true


esm0:
  extends:
    file: base.yml
    service: elasticsearch
  hostname: esm0
  container_name: esm0
  links:
  - consul:consul
  ports:
  - 9200
  environment:
  - ES_DATA_NODE=false

esm1:
  extends:
    file: base.yml
    service: elasticsearch
  ports:
  - 9200
  hostname: esm1
  container_name: esm1
  links:
  - consul:consul
  environment:
  - ES_DATA_NODE=false

esd:
  extends:
    file: base.yml
    service: elasticsearch
  links:
  - consul:consul
  environment:
  - ES_MASTER_NODE=false
